body {
    font-family: sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: clamp(50%, 300px, 100%);
    text-align: center;
}

h1 {
    text-align: left;
}

h2 {
    font-style: oblique;
}

a {
    font-style: italic;
}

hr {
    border-width: 2px;
}

.center_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min(600px, 100%)
}
