body {
    font-family: Arial, sans-serif;
    margin-left: clamp(0%, 200px, 10%);
    margin-right: clamp(0%, 200px, 10%);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: clamp(50%, 300px, 100%);
    text-align: center;
}

h1 {
    text-align: left;
}

h2 {
    font-style: oblique;
}

a {
    font-style: italic;
}

hr {
    border-width: 2px;
}

zero-md {
    margin: auto;
    display: block;
    width: clamp(60%, 800px, 100%);
    border: 2px solid #A0A0A0A0;
    border-radius: 20px;
    padding: 32px;
}

.center_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min(600px, 100%)
}
