@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap&subset=latin');

strong {
    font-weight: 700;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-left: clamp(0%, 200px, 10%);
    margin-right: clamp(0%, 200px, 10%);
}

header {
    margin-top: 60px;
    margin-bottom: 30px;
}

footer {
    margin-top: 50px;
    margin-bottom: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: clamp(50%, 800px, 100%);
    text-align: center;
}

h1 {
    font-weight: 900;
    text-align: left;
}

h2 {
    font-weight: 700;
    font-style: oblique;
}

h2::before {
    content: "• ";
}

a {
    font-weight: 700;
    font-style: italic;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

hr {
    border: 1px solid #B0B0B0;
}

zero-md {
    margin: auto;
    display: block;
    width: clamp(50%, 800px, 80%);
    border: 2px solid #B0B0B0;
    border-radius: 20px;
    padding: 32px;
}

.center_graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min(600px, 100%)
}
