<script src="/components/setMode.js"></script>
<script src="/components/swMode.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="margin-left: 20px"><strong>Vivatsathorn Thitasirivit</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsCustom"
                aria-controls="navbarsCustom" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsCustom">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/publications">Publications, Books & Writings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teachings">Teachings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lectures">Chula Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/downloads">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/python">Python REPL</a>
                </li>
            </ul>
            <button id="btnMode" type="button" class="btn btn-secondary"
                    onclick="swMode()">
                Dark Mode (BETA)
            </button>
        </div>
    </div>
</nav>